body {
  font-family: "Roboto Mono", monospace;
  min-height: 600px;
  background-image: url("https://coolwallpapers.me/picsup/5058344-edward-elric-fullmetal-alchemist-brotherhood.jpg");
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  padding-bottom: 20vh;
}

.container {
  text-align: center;
  padding: 20px;
}

.page-title {
  color: #ffffff;
  margin: 5px 0;
}

button {
  padding: 0.8rem 1.5rem;
  margin: 1rem 0;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
}

h2 {
  color: white;
}

.opcoes {
  color: white;
}

h3 {
  color: white;
  font-size: 30px;
}

.cartas img {
  max-height: 200px;
  border: 3px solid #000000;
}
